body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border: 1px solid wheat;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(28, 28, 28);
    color: rgb(255, 255, 255);
}

.heading{
    font-size: larger;
    font-weight: bold;
}

.inputt{
    padding: 7px;  
}

.add-button{
    padding: 9px 20px 9px 20px;
    background-color: rgb(38, 171, 38);
    color: white;
    border: none;
    cursor: pointer;
}

.delete-button,.complete-button{
    padding: 9px 17px 9px 17px;
    background-color: rgb(121, 12, 12);
    color: white;
    border: none;
    cursor: pointer;
}
.complete-button{
    background-color: rgb(35, 69, 150);
}

.todo-grid,.todo-input-grid{
    display: grid;
    grid-template-columns: 170px 150px 100px 200px;
    margin-bottom: 50px;
    column-gap: 10px;
    row-gap: 20px;
}


